/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* Остальные стили */
@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --button-color: #353430;
    --button-hover: rgba(50, 49, 45, 0.4);
    --corner-color: #353430;
    --rec: hidden;
    --title-color: #ffc2e6;
    --heading-text: #353430;
    --section-title: #353430;
    --main-text: #353430;
    --accent-color: #ff8dcb; /*тень и bg заголовков и rec*/
    --shadow: #ff0070;
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
  }
}

.page.theme_light {
  --button-color: #353430;
  --button-hover: rgba(50, 49, 45, 0.4);
  --corner-color: #353430;
  --rec: hidden;
  --title-color: #ffc2e6;
  --heading-text: #353430;
  --section-title: #353430;
  --main-text: #353430;
  --accent-color: #ff8dcb; /*тень и bg заголовков*/
  --shadow: #ff0070;
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
}

/* Остальные стили */
