/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  --accent-color: #ffc2e6;
  --title-decor: #ff8dcb;
  --text-shadow: #ff0070;
  --font-IBM: "IBM Plex mono", sans-serif;
  --color-text-content: #353430;
  --title-text: #353430;
  --bg-title: --font-size: 18px;
  --font-wl: 400;
  --font-wb: 700;
  --bg-color: #fff1f7;
}

/* Остальные стили */

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --accent-color: #ffc2e6;
    --title-decor: #ff8dcb;
    --text-shadow: #ff0070;
    --font-IBM: "IBM Plex mono", sans-serif;
    --color-text-content: #353430;
    --title-text: #353430;
    --font-size: 18px;
    --font-wl: 400;
    --font-wb: 700;
    --bg-color: #fff1f7;
  }
  .page.theme_light .rec {
    display: none;
  }
  
  .section__title {
    color: var(--color-text-content);
  }
  
  .header__theme-menu-button {
    color: var(--color-text-content);
  }
  
  .header__theme-menu-button_active {
    border: 1px solid var(--color-text-content);
  }
  
  .header__theme-menu-button:focus-visible {
    border-block-end: 1px solid --color-text-content;
  }
  
  .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.4);
  }
  
  .decorated-zone::before {
    border-block-start: 1px solid var(--color-text-content);
    border-inline-end: 1px solid var(--color-text-content);
  }
  .decorated-zone::after {
    border-block-end: 1px solid var(--color-text-content);
    border-inline-start: 1px solid var(--color-text-content);
  }
}

/* Остальные стили */

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff8dcb;
  --title-decor: #ffc2e6;
  --text-shadow: #ff0070;
  --color-text-content: #353430;
  --title-text: #353430;
  --bg-color: #fff1f7;
  background-image: url(../images/cover-image-light.png);
}
