/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: grid;
  /* flex-direction: column; */
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
  font-family: var(--main-font);
  font-size: var(--font-size);
  /* overflow-x: hidden; */
  gap: 40px;
}

.header {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: 10px;
  min-height: 668px;
}

/* .decorated-zone {
  /* min-height: 668px; */
/* padding: 10px; 
} */

.decorated-zone::before {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-block-start: 1px solid var(--corner-color);
  border-inline-end: 1px solid var(--corner-color);
}

.decorated-zone::after {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-block-end: 1px solid var(--corner-color);
  border-inline-start: 1px solid var(--corner-color);
}

.rec {
  display: grid;
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 19px;
  font-weight: 400;
  font-family: var(--mail-font);
  color: var(--accent-color);
  text-transform: uppercase;
  visibility: var(--rec);
  /* inset-block-start: 2%;
  inset-inline-end: 5%; */
}

.rec::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  display: block;
  margin-inline-start: 43px;
  margin-block-start: -17px;
}

.header__theme-menu {
  justify-self: end;
  gap: 13px;
}

.header__theme-menu-list {
  display: grid;
  gap: 13px;
  list-style-type: none;
  margin: 0;
}

.header__theme-menu-button {
  all: unset;
  padding: 0 13px;
  color: var(--button-color);
  font-family: var(--main-font);
  font-size: var(--font-size);
  cursor: pointer;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover);
}

.header__title-decor {
  font-size: var(--title-size);
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--shadow);
  font-weight: var(--font-wb);
  line-height: 82.5%;
  margin: 0;
}

/* main */

.main {
  display: grid;
  gap: 50px;
  flex: 1;
  padding: 0 10px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__flexible {
  display: grid;
  gap: 19px;
}

.section__flexible_content {
  /* display: grid; */
  gap: 10px;
}

.section__title {
  color: var(--section-title);
  font-size: var(--font-size);
  font-weight: var(--font-wb);
}

.section__text-decor {
  color: var(--heading-text);
  background-color: var(--accent-color);
  font-weight: var(--font-wb);
  font-size: var(--font-size);
}

.section__text-decor-thin {
  /* background-color: var(--accent-color);
  color: var(--title-text); */
  font-weight: var(--font-wl);
  /* font-size: var(--font-size); */
}

.section__text_content {
  color: var(--main-text);
  font-family: var(--main-font);
  font-weight: var(--font-wl);
  font-size: var(--font-size);
  line-height: 23.5px;
  margin-top: 10px;
}

.text_content-link {
  text-decoration: none;
  color: var(--main-text);
  text-shadow: 2px 2px 0px var(--accent-color);
  /* подогнала под макет text-shadow */
}

.text_content-link:focus {
  outline: none;
}

.text_content-link:focus-visible {
  text-decoration: none;
  outline: 1px solid var(--main-text);
}

.text_content-link:hover {
  border-block-end: 1px solid var(--main-text);
  text-decoration: transparent;
}

/* gallery */

.gallery__picture {
  display: grid;
  gap: 10px;
}

.gallery__picture-areas {
  display: grid;
  gap: 10px;
}

.picture {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

/* footer */

.footer {
  position: relative;
  display: grid;
  padding: 10px;
  text-align: center;
  height: 100vh;
  align-items: center;
  min-height: 668px;
}

.footer__title-decor {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--shadow);
}

@media (min-width: 768px) {
  .page {
    gap: 60px;
  }

  .header {
    padding: 20px;
  }

  .rec {
    inset-block-start: 21px;
    inset-inline-end: 28px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .header__title-decor {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline: calc(0vw - 20px);
  }

  .main {
    gap: 81px;
    padding: 0 20px;
  }

  /* .section {
   
  } */
  .section__text-decor_position {
    justify-self: end;
    width: 50%;
  }

  .section__flexible-why-how {
    grid-template-columns: 1fr 2fr;
    /* gap: 10px; */
  }

  .section__title-what {
    max-width: 30%;
  }

  .gallery__picture {
    gap: 20px;
  }

  .gallery__picture-areas {
    /* display: grid; */
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }
  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .street {
    grid-area: street;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    display: flex;
    flex-direction: row;
    align-self: start;
    margin: 0 auto;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 10px;
  }

  .section__flexible-what {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .section__flexible-why-how {
    gap: 10px;
  }

  .footer__title-decor {
    font-size: clamp(9.8rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
