/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --title-decor: #db00ff;
  --text-shadow: #ff0070;
  /* --color-decor: #FF0070; */
  --font-IBM: "IBM Plex mono", monospace;
  --color-text-content: #f1b2ce;
  --title-text: #000028;
  --font-size: 18px;
  --font-wl: 400;
  --font-wb: 700;
  --bg-color: #000028;
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}