/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --button-color: #ff0070;
  --button-hover: rgba(255, 0, 112, 0.4);
  --corner-color: #ff0070;
  --rec: visible;
  --title-color: #db00ff;
  --heading-text: #000028;
  --section-title: #ff0070;
  --main-text: #f1b2ce;
  --accent-color: #ff0070; /*тень и bg заголовков*/
  --shadow: #ff0070;
  --bg-color: #000028;
  --main-font: "IBM Plex mono", monospace;
  --font-size: 18px;
  --font-wl: 400;
  --font-wb: 700;
  --bg-image: url(../images/cover-image-dark.png);
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}
